<div class="getMentoriaBox">
  <div class="mentorInfo">
    <img
      [src]="mentores[index].fotoPerfil"
      alt="{{ mentores[index].nombre }}"
      class="mentor-foto"
    />
    <h3>{{ mentores[index].nombre }}</h3>
    <p>{{ mentores[index].descripcion }}</p>
    <p>Calificación: {{ mentores[index].calificacion }}</p>
    <p>Estudiantes ayudados: {{ mentores[index].estudiantesAyudados }}</p>
    <h4>Horarios disponibles:</h4>
    <select [(ngModel)]="horarioSeleccionado">
      <option value="">Selecciona un horario</option>
      <option
        *ngFor="let horario of mentores[index].horariosDisponibles"
        [value]="horario.fecha + ' ' + horario.inicio + ' ' + horario.fin"
      >
        {{ horario.fecha }}: {{ horario.inicio }} - {{ horario.fin }}
      </option>
    </select>

    <div *ngIf="horarioSeleccionado">
      <h5>Horario seleccionado:</h5>
      <p>{{ horarioSeleccionado }}</p>
    </div>
    <button (click)="reservarMentoria()">Reservar Mentoria</button>
  </div>
</div>