<div class="download-page">
  <h1>Descarga los materiales de la sesion</h1>
  
  <div class="resource-cards">
    <app-download-card
      title="Materiales de curso"
      description="Materiales realizados durante la mentoria."
      imageUrl="../assets/download/materialesCurso.png"
      routerLink="/course-resources">
    </app-download-card>

    <app-download-card
      title="Ejercicios"
      description="Ejercicios realizados durante la mentoria."
      imageUrl="../assets/download/exercices.png"
      routerLink="/course-exercises">
    </app-download-card>

    <app-download-card
      title="Recursos de aprendizaje"
      description="Recursos de aprendizaje para aprender mas acerca del tema."
      imageUrl="../assets/download/resources.png"
      routerLink="/course-resources">
    </app-download-card>

    <app-download-card
      title="Guias"
      description="Guias de referencia para aprofundizar tu aprendizaje."
      imageUrl="../assets/download/guides.png"
      routerLink="/course-guides">
    </app-download-card>
  </div>
</div>
